<a href="https://colab.research.google.com/github/LucasBrandaoGomes/Projeto-ETL-Consultas-SQL/blob/main/G5_Consultas_sparkSQL_Completo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

In [ ]:
pip install gcsfs

In [ ]:
import os
from google.cloud import storage

In [ ]:
serviceAccount = '/content/chave_projetofinal-grupo5-d2c4a9d78233.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, dense_rank
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DateType, FloatType

In [ ]:
from google.cloud import storage


def download_blob(bucket_name, source_blob_name, destination_file_name):

    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(source_blob_name)
    blob.download_to_filename(destination_file_name)

    print("Downloaded storage object {} from bucket {} to local file {}."
         .format(source_blob_name, bucket_name, destination_file_name))

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
download_blob("projeto-final-bucket-g5", "saida/df_temp_co2_final.csv", "/content/drive/MyDrive/dados_soulcode/df_temp_co2_final_sql.csv")

Downloaded storage object saida/df_temp_co2_final.csv from bucket projeto-final-bucket-g5 to local file /content/drive/MyDrive/dados_soulcode/df_temp_co2_final_sql.csv.

In [ ]:
download_blob("projeto-final-bucket-g5", "saida/df_cflorestal_pyspark_final.csv", "/content/drive/MyDrive/dados_soulcode/df_cflorestal_sql.csv")

Downloaded storage object saida/df_cflorestal_pyspark_final.csv from bucket projeto-final-bucket-g5 to local file /content/drive/MyDrive/dados_soulcode/df_cflorestal_sql.csv.

In [ ]:
spark = (
    SparkSession.builder
      .master('local')
      .appName('dataframe_temp_co2')
      .config('spark.ui.port', '4050')
      .getOrCreate()
)

In [ ]:
df_temp_co2_final_sql = spark.read.format("csv") \
                             .option("inferSchema", True) \
                             .option("header", True) \
                             .option("sep", ",") \
                             .load("/content/drive/MyDrive/dados_soulcode/df_temp_co2_final_sql.csv")\
                             .createOrReplaceTempView("temp_co2")

In [ ]:
df_cflorestal_sql = spark.read.format("csv") \
                             .option("inferSchema", True) \
                             .option("header", True) \
                             .option("sep", ",") \
                             .load("/content/drive/MyDrive/dados_soulcode/df_cflorestal_sql.csv")\
                             .createOrReplaceTempView("area_florestal")

In [ ]:
#Query 1

# esta query serve para dar um panorama geral dos dados tratados e consolidados dos 
# dataframes trabalhados de emissões de CO2 e variações de temperatura dentro do período selecionado - 1900 a 2012

spark.sql('''
SELECT
  *
FROM
  temp_co2
''').show()

+-----------+------+----------+--------+--------------------+----+------------------+--------------------+----------------+-------------------+
|       Pais|Codigo|Continente|  Regiao|NivelDesenvolvimento| Ano|      TempMediaAno|     DifTempMediaAno|EmissaoCO2TonAno|DifEmissaoCO2TonAno|
+-----------+------+----------+--------+--------------------+----+------------------+--------------------+----------------+-------------------+
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1949|13.350083380937576| -0.9851666490236912|         14656.0|               null|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1950|13.043499952182174|-0.30658342875540257|         84272.0|            69616.0|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1951|13.967749883731207|  0.9242499315490331|         91600.0|             7328.0|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1952|14.175416549046835| 0.20766666531562805|         91600.0|                0.0|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1953|14.650749941666922| 0.47533339262008667|        106256.0|            14656.0|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1954|13.691333214441935| -0.9594167272249869|        106256.0|                0.0|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1955|14.642583400011063|   0.951250185569128|        153888.0|            47632.0|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1956|14.191083321968714| -0.4515000780423488|        183200.0|            29312.0|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1957| 12.77716659506162| -1.4139167269070931|        293120.0|           109920.0|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1958|14.716750005880991|  1.9395834108193704|        329760.0|            36640.0|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1959| 14.15258331100146| -0.5641666948795319|        384571.4|          54811.406|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1960|13.985416978597641|-0.16716633240381817|        413883.4|            29312.0|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1961|14.064916888872782|  0.0794999102751408|        490797.7|           76914.28|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1962|13.768666679660479|-0.29625020921230316|       688594.25|          197796.56|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1963|15.033416827519735|  1.2647501478592567|        706736.0|           18141.75|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1964|13.084916397929192| -1.9485004295905437|        838550.8|          131814.81|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1965|14.101833283901215|   1.016916885972023|       1006916.5|          168365.69|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1966|14.343000014623007| 0.24116673072179218|       1091158.9|          84242.375|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1967|13.663249974449476| -0.6797500401735306|       1281865.1|          190706.25|
|Afghanistan|   AFG|      Ásia|Ásia Sul|  Em desenvolvimento|1968|13.762333065271378| 0.09908309082190137|       1223389.8|         -58475.375|
+-----------+------+----------+--------+--------------------+----+------------------+--------------------+----------------+-------------------+
only showing top 20 rows

In [ ]:
#Query 2

# esta query serve para visualizarmos quais os maiores emissores de CO2 dentro do período do nosso recorte - de 1900 a 2012
# mostrando as emissões máximas de cada um neste histórico


spark.sql('''
SELECT 
  Pais, 
  Continente, 
  Regiao, 
  MAX(EmissaoCO2TonAno) AS maxEmissaoCO2TonAno
FROM 
  temp_co2
GROUP BY 
  Pais, 
  Continente, 
  Regiao
ORDER BY 
  maxEmissaoCO2TonAno DESC
''').show()

+--------------+----------+--------------------+-------------------+
|          Pais|Continente|              Regiao|maxEmissaoCO2TonAno|
+--------------+----------+--------------------+-------------------+
|         China|      Ásia|          Ásia Leste|        9.6338995E9|
| United States|   América|    América do Norte|        6.1320059E9|
|        Russia|    Europa|        Europa Leste|       2.57121075E9|
|         India|      Ásia|            Ásia Sul|       1.98375885E9|
|         Japan|      Ásia|          Ásia Leste|       1.30208294E9|
|       Germany|    Europa|        Europa Oeste|       1.12005184E9|
|       Ukraine|    Europa|        Europa Leste|        7.6753971E8|
|United Kingdom|    Europa|        Europa Norte|        6.6038829E8|
|     Indonesia|      Ásia|        Ásia sudeste|        6.3314502E8|
|          Iran|      Ásia|            Ásia Sul|        6.0068032E8|
|        Canada|   América|    América do Norte|        5.9414022E8|
|   South Korea|      Ásia|          Ásia Leste|        5.8843507E8|
|  Saudi Arabia|      Ásia|          Ásia Oeste|        5.6317952E8|
|        France|    Europa|        Europa Oeste|        5.3038208E8|
|  South Africa|    África|          África Sul|       5.01376928E8|
|        Mexico|   América|     América Central|       4.98658528E8|
|         Italy|    Europa|          Europa Sul|       4.95527776E8|
|        Poland|    Europa|        Europa Leste|       4.63732576E8|
|        Brazil|   América|      América do Sul|       4.60063104E8|
|     Australia|   Oceania|Australia e Nova ...|        4.0867264E8|
+--------------+----------+--------------------+-------------------+
only showing top 20 rows

In [ ]:
#Query 3

# esta query mostra os valores máximos de temperatura média anual atingida em cada país dentro do recorte histórico de 1900 a 2012
# permitindo que vejamos os países mais quentes/frios e poder vislumbrar quais seriam os impactos de uma variação de temperatura nestes locais

spark.sql('''
SELECT 
  Pais, 
  Continente, 
  Regiao, 
  MAX(TempMediaAno) AS maxTempMediaAno
FROM 
  temp_co2
GROUP BY 
  Pais, 
  Continente, 
  Regiao
ORDER BY 
  maxTempMediaAno DESC
''').show()

+--------------------+----------+--------------+------------------+
|                Pais|Continente|        Regiao|   maxTempMediaAno|
+--------------------+----------+--------------+------------------+
|                Mali|    África|  África Oeste| 30.12708346048991|
|            Djibouti|    África|  África Leste|29.923583189646404|
|United Arab Emirates|      Ásia|    Ásia Oeste| 29.67133315404256|
|          Mauritania|    África|  África Oeste| 29.37291733423869|
|             Senegal|    África|  África Oeste|29.302333037058514|
|               Niger|    África|  África Oeste|29.299916744232178|
|        Burkina Faso|    África|  África Oeste|29.288750012715656|
|               Aruba|   América|América Caribe|28.982499917348225|
|               Qatar|      Ásia|    Ásia Oeste|28.889583269755047|
|              Gambia|    África|  África Oeste|28.826083183288574|
|                Chad|    África| África Centro|28.696499824523926|
|               Sudan|    África|  África Norte|28.647666613260906|
|             Curacao|   América|América Caribe|  28.4735000928243|
|                Oman|      Ásia|    Ásia Oeste|  28.4586664835612|
|               Benin|    África|  África Oeste|28.325583457946777|
|           Sri Lanka|      Ásia|      Ásia Sul|28.153249899546307|
|Saint Vincent and...|   América|América Caribe|28.132083574930828|
|             Grenada|   América|América Caribe|28.108916759490967|
|             Eritrea|    África|  África Leste|28.092583338419598|
|             Bahrain|      Ásia|    Ásia Oeste| 28.06966718037923|
+--------------------+----------+--------------+------------------+
only showing top 20 rows

In [ ]:
#Query 4

# esta query permite uma análise, dentre os 5 continentes*, da contribuição de cada um para as emissões de CO2 a nível global
# ordenados do maior responsável ao menor 
# *esta divisão foi feita pelo grupo do Projeto 5 com base em dados da ONU

spark.sql('''
SELECT 
  Continente, 
  SUM(EmissaoCO2TonAno) AS emissaoContinente
FROM 
  temp_co2
GROUP BY 
  Continente
ORDER BY 
  emissaoContinente DESC
''').show()

+----------+--------------------+
|Continente|   emissaoContinente|
+----------+--------------------+
|   América|  4.4717635006159E11|
|    Europa|4.339716828486199E11|
|      Ásia|3.714579749650603E11|
|    África|3.640263522689999...|
|   Oceania|1.714756707880000...|
+----------+--------------------+

In [ ]:
#Query 5

# esta query permite uma análise, dentre as 22 regiões do planeta*, da contribuição de cada uma para as emissões de CO2 a nível global
# ordenados da principal região na contribuição das emissões de CO2 - América do Norte - à que menos contribuiu - Micronésia
# é interessante notar, nesta tabela, os maiores e menores contribuintes em termos de emissões de CO2 -  
# 1º - América do Norte, 2º - Ásia Leste, 3º - Europa Leste, 4º - Europa Oeste - todos na casa das centenas de bilhões de ton de Emissões de CO2 por Ano
# 19º - África Centro, 20º - Melanesia, 21º - Polynesia, 22º - Micronésia - 
# os dois primeiros apontados na casa das centenas de milhões e os dois últimos na casa das dezenas de milhões de ton de Emissões de CO2 por Ano

# *esta divisão foi feita pelo grupo do Projeto 5 com base em dados da ONU

spark.sql('''
SELECT 
  Regiao, 
  SUM(EmissaoCO2TonAno) AS emissaoRegiao
FROM 
  temp_co2
GROUP BY 
  Regiao
ORDER BY 
  emissaoRegiao DESC
''').show(25)

+--------------------+--------------------+
|              Regiao|       emissaoRegiao|
+--------------------+--------------------+
|    América do Norte|    3.91133958922E11|
|          Ásia Leste|2.332077219538999...|
|        Europa Leste|   1.709119566871E11|
|        Europa Oeste|  1.4107174649375E11|
|        Europa Norte|    7.66388442554E10|
|            Ásia Sul|5.550703901760998...|
|          Europa Sul|4.534913541236999E10|
|          Ásia Oeste|    3.79150376912E10|
|      América do Sul|   3.373184480055E10|
|        Ásia sudeste|2.612035077564999...|
|        Ásia Central|1.870782552670000...|
|     América Central|   1.775342567061E10|
|          África Sul|    1.76355191964E10|
|Australia e Nova ...|     1.6828292053E10|
|        África Norte|1.185012446300000...|
|      América Caribe| 4.557120668430002E9|
|        África Oeste| 3.950222254939999E9|
|        África Leste|1.9996711723500004E9|
|       África Centro| 9.670981402099999E8|
|           Melanesia| 2.737021938000001E8|
|           Polynesia|         3.1774208E7|
|          Micronésia|         1.3798624E7|
+--------------------+--------------------+

In [ ]:
#Query 6

# esta tabela nos permite observar que, embora representem apenas um quarto (aproximadamente) do total de países listados do grupo analisado
# os países Desenvolvidos ainda assim possuem mais do dobro de emissões de CO2 que os países Em desenvolvimento
# e ainda contando com o fato de que a tendência histórica de variação de Emissão de CO2 
# é quase o dobro nos países Em desenvolvimento quando comparada nos páises Desenvolvidos,
# tudo isso dentro do período compreendido entre 1900 e 2012

spark.sql('''
SELECT 
  NivelDesenvolvimento, 
  COUNT(DISTINCT Pais) AS qtdPaises, 
  SUM(EmissaoCO2TonAno) AS emissaoNivelDesenvolvimento, 
  ROUND(SUM(DifEmissaoCO2TonAno),5) AS varEmissaoCO2 
FROM 
  temp_co2
GROUP BY 
  NivelDesenvolvimento
ORDER BY 
  EmissaoNivelDesenvolvimento DESC
''').show()

+--------------------+---------+---------------------------+--------------------+
|NivelDesenvolvimento|qtdPaises|emissaoNivelDesenvolvimento|       varEmissaoCO2|
+--------------------+---------+---------------------------+--------------------+
|        Desenvolvido|       51|         8.9999636159636E11|  1.0644601432925E10|
|  Em desenvolvimento|      153|       4.061598485846101E11|1.973777451925355E10|
+--------------------+---------+---------------------------+--------------------+

In [ ]:
# Query 7

# esta query nos permite observar os países e regiões em que houve maior variação de temperatura acumulada 
# dentro do período observado, apresentando dados com valores bastante significativos
# as cinco primeiras linhas retornam valores de  variação de temperatura acima de 2 ºC positivos em um período de 113 anos

spark.sql('''
SELECT 
  Pais,
  Continente,
  Regiao, 
  SUM(DifTempMediaAno) AS totalVarTempMedia
FROM 
  temp_co2
GROUP BY 
  Pais,
  Continente,
  Regiao
ORDER BY 
  totalVarTempMedia DESC
''').show(200)

+--------------------+----------+--------------------+--------------------+
|                Pais|Continente|              Regiao|   totalVarTempMedia|
+--------------------+----------+--------------------+--------------------+
|           Greenland|   América|    América do Norte|  2.3875830620527267|
|             Ireland|    Europa|        Europa Norte|  2.3140000502268467|
|              Russia|    Europa|        Europa Leste|  2.2523331046104436|
|              Jordan|      Ásia|          Ásia Oeste|  2.2376667658487968|
|             Estonia|    Europa|        Europa Norte|   2.208416510373354|
|              Latvia|    Europa|        Europa Norte|  2.1617499006291228|
|             Bahrain|      Ásia|          Ásia Oeste|     2.0809166431427|
|              Norway|    Europa|        Europa Norte|   2.071750046064455|
|             Uruguay|   América|      América do Sul|   1.912750005722046|
|             Finland|    Europa|        Europa Norte|   1.906750084211429|
|              Kuwait|      Ásia|          Ásia Oeste|   1.904249986012779|
|            Thailand|      Ásia|        Ásia sudeste|  1.8711668650309257|
|               Qatar|      Ásia|          Ásia Oeste|  1.8704169591267892|
|              Canada|   América|    América do Norte|  1.8419166505336764|
|              Cyprus|      Ásia|          Ásia Oeste|  1.7794167200724296|
|               Egypt|    África|        África Norte|  1.7327500979105608|
|              Sweden|    Europa|        Europa Norte|    1.63741657231003|
|                Iraq|      Ásia|          Ásia Oeste|  1.6167494455973284|
|               Libya|    África|        África Norte|  1.4920833905537911|
|          Azerbaijan|      Ásia|          Ásia Oeste|  1.4398332809408512|
| Trinidad and Tobago|   América|      América Caribe|  1.4084165891011544|
|United Arab Emirates|      Ásia|          Ásia Oeste|    1.40683348973592|
|             Eritrea|    África|        África Leste|   1.387833595275879|
|             Armenia|      Ásia|          Ásia Oeste|    1.38049978017807|
|              Israel|      Ásia|          Ásia Oeste|  1.3240831693013497|
|               Yemen|      Ásia|          Ásia Oeste|   1.316750367482502|
|         Philippines|      Ásia|        Ásia sudeste|  1.3146669069925956|
|            Dominica|   América|      América Caribe|  1.3143335978190116|
|                Oman|      Ásia|          Ásia Oeste|   1.291250228881836|
|             Georgia|      Ásia|          Ásia Oeste|  1.2586667134116087|
|       United States|   América|    América do Norte|  1.2394997378190364|
|            Djibouti|    África|        África Leste|  1.2247497240702323|
|             Ukraine|    Europa|        Europa Leste|  1.2092501434187106|
|             Myanmar|      Ásia|        Ásia sudeste|  1.1970829963684082|
|            Suriname|   América|      América do Sul|  1.1905001004536935|
|             Albania|    Europa|          Europa Sul|   1.184583391994238|
|          Guadeloupe|   América|      América Caribe|  1.1830832163492815|
|             Ecuador|   América|      América do Sul|  1.1770002047220842|
|          Martinique|   América|      América Caribe|  1.1386666297912598|
|            Paraguay|   América|      América do Sul|  1.1358327865600586|
|              Mexico|   América|     América Central|   1.130833625793457|
|       French Guiana|   América|      América do Sul|   1.113666375478111|
|               Japan|      Ásia|          Ásia Leste|  1.0919998350242768|
|            Slovenia|    Europa|          Europa Sul|  1.0898333688577022|
|               Italy|    Europa|          Europa Sul|  1.0809998114903774|
|      Czech Republic|    Europa|        Europa Leste|  1.0802500272790594|
|        Saudi Arabia|      Ásia|          Ásia Oeste|  1.0756661097208706|
|Saint Vincent and...|   América|      América Caribe|  1.0663331349690743|
|            Bulgaria|    Europa|        Europa Leste|  1.0647500058015194|
|         Saint Lucia|   América|      América Caribe|  1.0622502962748186|
|             Croatia|    Europa|          Europa Sul|   1.056749964753788|
|             Tunisia|    África|        África Norte|  1.0504167874654122|
|               Sudan|    África|        África Norte|   1.049166361490883|
|          Costa Rica|   América|     América Central|  1.0442498524983712|
|               Malta|    Europa|          Europa Sul|    1.03866680463155|
|             Moldova|    Europa|        Europa Leste|  1.0303334593772888|
|              Guyana|   América|      América do Sul|   1.029833475748699|
|            Malaysia|      Ásia|        Ásia sudeste|  1.0220832824706996|
| Antigua and Barbuda|   América|      América Caribe|  1.0066665013631209|
|Bosnia and Herzeg...|    Europa|          Europa Sul|  0.9989999830722809|
|             Grenada|   América|      América Caribe|  0.9939999580383301|
|            Eswatini|    África|          África Sul|  0.9882499376932792|
|             Hungary|    Europa|        Europa Leste|  0.9874166299899407|
|      Islas Malvinas|   América|      América do Sul|  0.9863332708676653|
|          Cape Verde|    África|        África Oeste|  0.9743331273396798|
|               Chile|   América|      América do Sul|  0.9675833781560268|
|             Somalia|    África|        África Leste|  0.9559164047241211|
|               Spain|    Europa|          Europa Sul|  0.9505834579467773|
|              Greece|    Europa|          Europa Sul|  0.9432500004768389|
|             Austria|    Europa|        Europa Oeste|  0.9410834461450577|
|              Turkey|      Ásia|          Ásia Oeste|  0.9406667264799289|
|           Sri Lanka|      Ásia|            Ásia Sul|  0.9401666323343925|
|             Romania|    Europa|        Europa Leste|  0.9204165935516357|
|            Slovakia|    Europa|        Europa Leste|  0.9149167984724036|
|           Lithuania|    Europa|        Europa Norte|  0.9081666866938267|
|          Luxembourg|    Europa|        Europa Oeste|  0.8840001678715144|
|           Argentina|   América|      América do Sul|  0.8817500670750942|
|                Laos|      Ásia|        Ásia sudeste|  0.8806665738423654|
|            Zimbabwe|    África|        África Leste|   0.879750172297161|
|            Cambodia|      Ásia|        Ásia sudeste|  0.8625000317891427|
|            Colombia|   América|      América do Sul|  0.8566667238871268|
|         Switzerland|    Europa|        Europa Oeste|  0.8540834556333721|
|            Barbados|   América|      América Caribe|  0.8499164581298828|
|             Jamaica|   América|      América Caribe|  0.8475831349690779|
|             Denmark|    Europa|        Europa Norte|  0.8442500419914714|
|             Morocco|    África|        África Norte|  0.8382503191630022|
|             Belarus|    Europa|        Europa Leste|  0.8338334361712141|
|           Singapore|      Ásia|        Ásia sudeste|  0.8308334350585938|
|             Algeria|    África|        África Norte|  0.8295830885569266|
|             Reunion|    África|        África Leste|  0.8236668904622384|
|          Seychelles|    África|        África Leste|  0.8159998257954939|
|              Taiwan|      Ásia|          Ásia Leste|  0.8157497247060128|
|              Brazil|   América|      América do Sul|  0.8122502962748221|
|           Mauritius|    África|        África Leste|  0.8094169298807756|
|  Dominican Republic|   América|      América Caribe|  0.7982498804728202|
|              Poland|    Europa|        Europa Leste|  0.7953333780169478|
|            Anguilla|   América|      América Caribe|   0.792666117350258|
|             Germany|    Europa|        Europa Oeste|  0.7750833506385479|
|           Guatemala|   América|     América Central|  0.7741667429606096|
|                Cuba|   América|      América Caribe|   0.772833188374836|
|             Bolivia|   América|      América do Sul|  0.7654166221618652|
|              Serbia|    Europa|          Europa Sul|    0.74991657336553|
|                Niue|   Oceania|           Polynesia|  0.7378334999084473|
|          Kazakhstan|      Ásia|        Ásia Central|  0.7363333503405256|
|          Montenegro|    Europa|          Europa Sul|   0.726833236714203|
|         Netherlands|    Europa|        Europa Oeste|  0.7105835129817333|
|               Haiti|   América|      América Caribe|  0.7032497723897286|
|          Montserrat|   América|      América Caribe|  0.7025000254313163|
|              Gambia|    África|        África Oeste|  0.6869997978210449|
|         New Zealand|   Oceania|Australia e Nova ...|  0.6860834360122681|
|British Virgin Is...|   América|      América Caribe|   0.685333251953125|
|            Portugal|    Europa|          Europa Sul|  0.6804166634877529|
|        Burkina Faso|    África|        África Oeste|  0.6799165407816545|
|    French Polynesia|   Oceania|           Polynesia|  0.6742499669392927|
|               Benin|    África|        África Oeste|   0.664000352223713|
|               Niger|    África|        África Oeste|  0.6628333727518729|
|              France|    Europa|        Europa Oeste|  0.6591663857301082|
|             Vietnam|      Ásia|        Ásia sudeste|  0.6555833816528285|
|               Syria|      Ásia|          Ásia Oeste|  0.6369999647140503|
|                Iran|      Ásia|            Ásia Sul|  0.6358333826065063|
|             Senegal|    África|        África Oeste|  0.6275836626688687|
|     Solomon Islands|   Oceania|           Melanesia|  0.6175001462300642|
|       Guinea-Bissau|    África|        África Oeste|  0.6137502988179513|
|            Kiribati|   Oceania|          Micronésia|  0.6037499109903983|
|         South Korea|      Ásia|          Ásia Leste|  0.6028334200382233|
|              Panama|   América|     América Central|  0.6020000775655134|
|         El Salvador|   América|     América Central|  0.5987496376037598|
|            Honduras|   América|     América Central|  0.5880832672119141|
|           Indonesia|      Ásia|        Ásia sudeste|  0.5875000953674316|
|          Micronesia|   Oceania|          Micronésia|  0.5843335787455253|
|               Nepal|      Ásia|            Ásia Sul|   0.574499924977621|
|        Sierra Leone|    África|        África Oeste|  0.5709997812906877|
|             Belgium|    Europa|        Europa Oeste|  0.5645001977682114|
|             Lesotho|    África|          África Sul|  0.5536665121714268|
|               Kenya|    África|        África Leste|  0.5516668955485038|
|               China|      Ásia|          Ásia Leste|  0.5395833688477669|
|              Guinea|    África|        África Oeste|  0.5343332290649414|
|       Cote d'Ivoire|    África|        África Oeste|  0.5198337237040214|
|             Liberia|    África|        África Oeste|  0.5169165929158552|
|              Belize|   América|     América Central|  0.5134169260660784|
|            Ethiopia|    África|        África Leste|  0.5096670786539725|
|               Gabon|    África|       África Centro|  0.4895000457763672|
|           Macedonia|    Europa|          Europa Sul|  0.4870831727360674|
|              Uganda|    África|        África Leste| 0.46683327356974047|
|      United Kingdom|    Europa|        Europa Norte| 0.46141669154167175|
|        South Africa|    África|          África Sul| 0.46091651916503906|
|Turks and Caicos ...|   América|      América Caribe|  0.4552497863769531|
|                Peru|   América|      América do Sul| 0.44675000508626184|
|          Mozambique|    África|        África Leste|  0.4432495435078927|
|      Cayman Islands|   América|      América Caribe|  0.4347503980000802|
|              Rwanda|    África|        África Leste| 0.42766666412353516|
|        Turkmenistan|      Ásia|        Ásia Central| 0.41616643336601555|
|          Madagascar|    África|        África Leste|  0.4071669578552246|
|               Tonga|   Oceania|           Polynesia| 0.38608344395955285|
|           Palestine|      Ásia|          Ásia Oeste|  0.3841665585835763|
|            Tanzania|    África|        África Leste|  0.3840829531351737|
|             Burundi|    África|        África Leste|  0.3695832888285331|
|         North Korea|      Ásia|          Ásia Leste| 0.35966677591204643|
|               Samoa|   Oceania|           Polynesia| 0.35799964269002515|
|               Palau|   Oceania|          Micronésia|  0.3563334147135393|
|            Botswana|    África|          África Sul|  0.3191669782002755|
|Saint Kitts and N...|   América|      América Caribe| 0.30358362197875977|
|       New Caledonia|   Oceania|           Melanesia|  0.2820003827412947|
|          Uzbekistan|      Ásia|        Ásia Central|  0.2736668009310961|
|               India|      Ásia|            Ásia Sul| 0.27300024032592773|
|             Comoros|    África|        África Leste| 0.26933320363362867|
|                Fiji|   Oceania|           Melanesia|  0.2640835444132499|
|           Australia|   Oceania|Australia e Nova ...| 0.25791676839192945|
|             Iceland|    Europa|        Europa Norte| 0.25191680027637653|
|             Nigeria|    África|        África Oeste| 0.24400011698405066|
|             Bahamas|   América|      América Caribe| 0.23175032933553297|
|               Congo|    África|       África Centro| 0.21683327356974402|
|    Christmas Island|   Oceania|Australia e Nova ...| 0.21616697311401367|
|            Cameroon|    África|       África Centro| 0.19991652170817176|
|                Chad|    África|       África Centro| 0.19666671752929688|
|              Angola|    África|       África Centro|  0.1950836181640625|
|               Ghana|    África|        África Oeste|              0.1875|
|              Zambia|    África|        África Leste| 0.16258319218953332|
|         Afghanistan|      Ásia|            Ásia Sul| 0.14633346969882766|
|              Malawi|    África|        África Leste| 0.14533329010009766|
|               Macao|      Ásia|          Ásia Leste| 0.11466670036315918|
|                Togo|    África|        África Oeste| 0.10541629791259766|
|    Papua New Guinea|   Oceania|           Melanesia| 0.10191663106282789|
|   Equatorial Guinea|    África|       África Centro|0.050333499908447266|
|          Mauritania|    África|        África Oeste|0.014083703358966915|
|             Lebanon|      Ásia|          Ásia Oeste|0.002916971842445548|
|              Bhutan|      Ásia|            Ásia Sul|-0.01016682386398...|
|            Mongolia|      Ásia|          Ásia Leste|-0.02491643776496...|
|Central African R...|    África|       África Centro|-0.02950000762939453|
|       Liechtenstein|    Europa|        Europa Oeste|-0.06508323550224304|
|           Nicaragua|   América|     América Central|-0.07208331425984582|
|            Pakistan|      Ásia|            Ásia Sul|-0.11549989382426062|
|           Venezuela|   América|      América do Sul|-0.15525007247924805|
|       Faroe Islands|    Europa|        Europa Norte|-0.15749998887379935|
|                Mali|    África|        África Oeste|-0.18449989954630652|
|               Aruba|   América|      América Caribe| -0.1845830281575509|
|         Timor Leste|      Ásia|        Ásia sudeste| -0.1873332659403495|
|          Kyrgyzstan|      Ásia|        Ásia Central|-0.20641662677129125|
|             Curacao|   América|      América Caribe|-0.20658349990844727|
|             Andorra|    Europa|          Europa Sul|-0.24516700704892358|
+--------------------+----------+--------------------+--------------------+
only showing top 200 rows

In [ ]:
#Query 8

# esta query permite que busquemos uma possível relação entre Emissão de CO2 e variação de temperatura média dos diferentes Países
# dando atenção também à localização geográfica - Continente e Região
# no período observado - 1900 a 2012

spark.sql('''
SELECT 
  Pais, 
  Continente, 
  Regiao, 
  SUM(EmissaoCO2TonAno) AS somaEmissaoCO2, 
  ROUND(SUM(DifTempMediaAno),5) AS somaDifTempMedia
FROM 
  temp_co2
GROUP BY 
  Pais, 
  Continente, 
  Regiao
ORDER BY 
  somaEmissaoCO2 DESC
''').show(15)

+--------------+----------+--------------------+---------------+----------------+
|          Pais|Continente|              Regiao| somaEmissaoCO2|somaDifTempMedia|
+--------------+----------+--------------------+---------------+----------------+
| United States|   América|    América do Norte|3.6228707408E11|          1.2395|
|         China|      Ásia|          Ásia Leste|1.5125980995E11|         0.53958|
|        Russia|    Europa|        Europa Leste| 9.222324485E10|         2.25233|
|       Germany|    Europa|        Europa Oeste|8.0477050946E10|         0.77508|
|United Kingdom|    Europa|        Europa Norte|5.8634289928E10|         0.46142|
|         Japan|      Ásia|          Ásia Leste|5.5932726122E10|           1.092|
|         India|      Ásia|            Ásia Sul|3.7119184284E10|           0.273|
|        France|    Europa|        Europa Oeste|3.2414488784E10|         0.65917|
|        Canada|   América|    América do Norte|2.8819349882E10|         1.84192|
|       Ukraine|    Europa|        Europa Leste|2.4572876634E10|         1.20925|
|        Poland|    Europa|        Europa Leste|2.3989858096E10|         0.79533|
|         Italy|    Europa|          Europa Sul|2.1628276728E10|           1.081|
|  South Africa|    África|          África Sul|1.7419644896E10|         0.46092|
|        Mexico|   América|     América Central|1.6518410488E10|         1.13083|
|     Australia|   Oceania|Australia e Nova ...|1.5253261408E10|         0.25792|
+--------------+----------+--------------------+---------------+----------------+
only showing top 15 rows

In [ ]:
#Query 9

# esta query permite que busquemos uma relação entre Emissão de CO2 e variação de temperatura média dos diferentes Países
# a partir da ótica das variações de temperaturas, trazendo novas possibilidades de insights
# também dando atenção à localização geográfica - Continente e Região
# no período observado - 1900 a 2012

spark.sql('''
SELECT 
  Pais, 
  Continente, 
  Regiao, 
  SUM(EmissaoCO2TonAno) AS somaEmissaoCO2, 
  ROUND(SUM(DifTempMediaAno),5) AS somaDifTempMedia
FROM 
  temp_co2
GROUP BY 
  Pais, 
  Continente, 
  Regiao
ORDER BY 
  somaDifTempMedia DESC
''').show(15)

+---------+----------+----------------+--------------------+----------------+
|     Pais|Continente|          Regiao|      somaEmissaoCO2|somaDifTempMedia|
+---------+----------+----------------+--------------------+----------------+
|Greenland|   América|América do Norte|          2.753496E7|         2.38758|
|  Ireland|    Europa|    Europa Norte|        1.91959327E9|           2.314|
|   Russia|    Europa|    Europa Leste|      9.222324485E10|         2.25233|
|   Jordan|      Ásia|      Ásia Oeste|4.9917782146000004E8|         2.23767|
|  Estonia|    Europa|    Europa Norte|       1.055969029E9|         2.20842|
|   Latvia|    Europa|    Europa Norte|       5.820661835E8|         2.16175|
|  Bahrain|      Ásia|      Ásia Oeste|        6.62789493E8|         2.08092|
|   Norway|    Europa|    Europa Norte|       2.300883789E9|         2.07175|
|  Uruguay|   América|  América do Sul|       3.186701215E8|         1.91275|
|  Finland|    Europa|    Europa Norte|       2.821285606E9|         1.90675|
|   Kuwait|      Ásia|      Ásia Oeste|       2.124607404E9|         1.90425|
| Thailand|      Ásia|    Ásia sudeste|      5.4268943442E9|         1.87117|
|    Qatar|      Ásia|      Ásia Oeste|       1.318490569E9|         1.87042|
|   Canada|   América|América do Norte|     2.8819349882E10|         1.84192|
|   Cyprus|      Ásia|      Ásia Oeste|      2.3582737574E8|         1.77942|
+---------+----------+----------------+--------------------+----------------+
only showing top 15 rows

In [ ]:
#Query 10

# esta query apresenta uma análise do acumulado histórico das emissões de CO2 e variação total de temperatura
# dentro do período considerado - 1900 a 2012, sendo que esta faixa de tempo é menor para alguns páises
# devido a questões socio-políticas
# justamente numa das regiões mais afetadas pelas mudanças climáticas - a Ásia Oeste/Oriente Médio

spark.sql('''
SELECT 
  Pais, 
  Regiao, 
  ROUND(SUM(DifTempMediaAno),5) AS somaDifTempMedia, 
  ROUND(SUM(EmissaoCO2TonAno),5) AS somaEmissaoCO2
FROM 
  temp_co2
GROUP BY 
  Pais, 
  Regiao
HAVING 
  Regiao = 'Ásia Oeste'
ORDER BY 
  somaDifTempMedia DESC
''').show(20)

+--------------------+----------+----------------+----------------+
|                Pais|    Regiao|somaDifTempMedia|  somaEmissaoCO2|
+--------------------+----------+----------------+----------------+
|              Jordan|Ásia Oeste|         2.23767|  4.9917782146E8|
|             Bahrain|Ásia Oeste|         2.08092|    6.62789493E8|
|              Kuwait|Ásia Oeste|         1.90425|   2.124607404E9|
|               Qatar|Ásia Oeste|         1.87042|   1.318490569E9|
|              Cyprus|Ásia Oeste|         1.77942|  2.3582737574E8|
|                Iraq|Ásia Oeste|         1.61675|  3.1070403535E9|
|          Azerbaijan|Ásia Oeste|         1.43983|   2.280646502E9|
|United Arab Emirates|Ásia Oeste|         1.40683|   3.085029108E9|
|             Armenia|Ásia Oeste|          1.3805|   2.451920716E8|
|              Israel|Ásia Oeste|         1.32408|   1.893874275E9|
|               Yemen|Ásia Oeste|         1.31675|   5.137040065E8|
|                Oman|Ásia Oeste|         1.29125|    7.56612676E8|
|             Georgia|Ásia Oeste|         1.25867|   5.464118177E8|
|        Saudi Arabia|Ásia Oeste|         1.07567|1.08134733379E10|
|              Turkey|Ásia Oeste|         0.94067|   7.656537264E9|
|               Syria|Ásia Oeste|           0.637|   1.611625447E9|
|           Palestine|Ásia Oeste|         0.38417|     3.5819264E7|
|             Lebanon|Ásia Oeste|         0.00292|   5.281789048E8|
+--------------------+----------+----------------+----------------+

In [ ]:
#Query 11 (BR)

# esta query mostra as Emissões de CO2 e variações de temperatura ano a ano para o caso específico do Brasil
# é possível observar que não há correlação direta, no caso brasileiro, entre esses dois fatores analisados
# pois o país apresenta uma taxa cada vez mais elevada de emissões e uma variação muito pequena de temperatura
# é notável também que o crescimento no valor de emissões se dá quase que linearmente com a passagem dos anos,
# aumentando progressivamente 

spark.sql('''
SELECT 
  Pais, 
  Ano, 
  ROUND(DifTempMediaAno, 8) AS varTempMediaAno, 
  EmissaoCO2TonAno
FROM 
  temp_co2
WHERE 
  Pais = 'Brazil'
ORDER BY 
  EmissaoCO2TonAno DESC
''').show(25)

+------+----+---------------+----------------+
|  Pais| Ano|varTempMediaAno|EmissaoCO2TonAno|
+------+----+---------------+----------------+
|Brazil|2012|       0.288167|    4.60063104E8|
|Brazil|2011|    -0.38349994|    4.30194912E8|
|Brazil|2010|     0.21183316|    4.11240192E8|
|Brazil|2008|    -0.25766643|    3.80344928E8|
|Brazil|2009|     0.19025008|    3.60090784E8|
|Brazil|2007|      0.1509997|    3.56918752E8|
|Brazil|2005|     0.30950022|    3.42086464E8|
|Brazil|2006|    -0.28900019|    3.41946368E8|
|Brazil|2004|     -0.1244998|    3.33675136E8|
|Brazil|2001|      0.3079168|    3.32987392E8|
|Brazil|2002|     0.29591703|    3.27434816E8|
|Brazil|2000|    -0.09008344|    3.24226048E8|
|Brazil|2003|    -0.17933385|    3.17508448E8|
|Brazil|1999|    -0.67216682|    3.16282432E8|
|Brazil|1998|     0.39933364|    3.08305728E8|
|Brazil|1997|     0.22158321|    2.96585248E8|
|Brazil|1996|    -0.21658325|    2.81194784E8|
|Brazil|1995|     0.09974972|    2.55583376E8|
|Brazil|1994|     0.09975004|     2.3947072E8|
|Brazil|1993|     0.10358349|    2.28333216E8|
|Brazil|1992|    -0.04083331|    2.18383504E8|
|Brazil|1991|     0.01724974|    2.17227472E8|
|Brazil|1989|    -0.30591647|    2.12113648E8|
|Brazil|1988|    -0.38608344|     2.0756296E8|
|Brazil|1990|     0.40350008|     2.0692112E8|
+------+----+---------------+----------------+
only showing top 25 rows

In [ ]:
#Criação de Tabela brasil_1990_2010 no BigQuery

# esta tabela fornece um recorte específico de país - Brasil - e período de tempo - 1990 a 2010
# para que possamos fazer análises cruzadas com os dados sobre área de cobertura florestal

'''
CREATE OR REPLACE TABLE
  brasil_1990_2010 AS (
  SELECT
    Pais,
    Ano,
    ROUND(DifTempMediaAno, 8) AS varTempMediaAno,
    EmissaoCO2TonAno
  FROM
    temp_co2
  WHERE
    Pais = 'Brazil'
    AND Ano > 1989
    AND Ano < 2011
  ORDER BY
    EmissaoCO2TonAno DESC )
'''

In [ ]:
#Query 12

# esta query nos permite observar, por meio da combinação de dados da tabela com recorte específico para o Brasil entre 1990 e 2010
# e a tabela de cobertura florestal no mundo entre 1990 e 2010, um aumento significativo na temperatura média do período considerado
# somado a uma crescente no total de Emissões de CO2  - atingindo o volume aproximado de 6 bilhões de toneladas em emissões - em um
# período em que perdemos o equivalente à área aproximada do Estado do Rio de Janeiro em cobertura florestal
# o que aponta para uma possível correlação entre os três tipos de dados considerados nessa análise:
# Variação de Temperatura Média, Total de Emissões de CO2 e Área de Cobertura Florestal

'''
SELECT
  a.Pais,
  SUM(varTempMediaAno) AS VarTotalTempMedia,
  SUM(EmissaoCO2TonAno) AS TotalEmissoesCO2,
  b.AreaFlorestal_1990_1000ha_,
  b.AreaFlorestal_2010_1000ha_,
  b.Variacao_1990_2010,
  b.VarPercentual_1990_2010
FROM
  `projetofinal-grupo5.mudancas_climaticas.brasil_1990_2010` AS a
INNER JOIN
  `projetofinal-grupo5.mudancas_climaticas.area-florestal` AS b
ON
  a.Pais = b.Pais
GROUP BY
  a.Pais,
  b.AreaFlorestal_1990_1000ha_,
  b.AreaFlorestal_2010_1000ha_,
  b.Variacao_1990_2010,
  b.VarPercentual_1990_2010
'''

In [ ]:
#Criação de Tabela oriente_medio_1990_2010 no BigQuery

# esta tabela fornece um recorte específico de Região - ÁsiaOeste/Oriente Médio - e período de tempo - 1990 a 2010
# para que possamos fazer análises cruzadas com os dados sobre área de cobertura florestal

'''
CREATE OR REPLACE TABLE
  mudancas_climaticas.oriente_medio_1990_2010 AS (
  SELECT
    Pais,
    Regiao,
    ROUND(SUM(DifTempMediaAno),5) AS VarTotalTempMedia,
    ROUND(SUM(EmissaoCO2TonAno),5) AS SomaEmissaoCO2
  FROM
    `projetofinal-grupo5.mudancas_climaticas.temp_co2`
  WHERE
    Regiao = 'Ásia Oeste'
    AND Ano >= 1990
    AND Ano <= 2010
  GROUP BY
    Pais,
    Regiao
  ORDER BY
    SomaEmissaoCO2 DESC
  LIMIT
    50 )
'''

In [ ]:
#Query 13

# esta query, que combina dados da tabela específica sobre Ásia Oeste/Oriente Médio no período de 1990 a 2010, 
# com dados da tabela sobre cobertura florestal no mundo entre 1990 e 2010, mostra uma possível forte correlação
# entre a falta de cobertura florestal e altos níveis de emissão de CO2 com a variação sensível de temperatura
# nesta região do planeta

spark.sql('''
SELECT 
  a.*,
  b.AreaFlorestal_1990_1000ha_,
  b.AreaFlorestal_2010_1000ha_,
  b.Variacao_1990_2010,
  b.VarPercentual_1990_2010
FROM 
  `projetofinal-grupo5.mudancas_climaticas.oriente_medio_1990_2010` AS a
INNER JOIN
  `projetofinal-grupo5.mudancas_climaticas.area-florestal` AS b
ON
  a.Pais = b.Pais
''').show()

In [ ]:
#Query 14 (BR)

# esta query mostra os valores mínimos e máximos de emissão de CO2 ton/ano 
# atingidas pelo Brasil dentro do recorte histórico de 1900 a 2012,
#que coincidem com os anos de 1900 e 2012, demonstrando uma tendência de crescente neste sentido
#desde o começo do perído analisado

spark.sql('''
SELECT 
  Pais, 
  Continente, 
  Regiao, 
  MIN(EmissaoCO2TonAno) AS minEmissaoCO2, 
  MAX(EmissaoCO2TonAno) AS maxEmissaoCO2
FROM 
  temp_co2
GROUP BY 
  Pais, 
  Continente, 
  Regiao
HAVING 
  Pais = 'Brazil'
''').show()

+------+----------+--------------+-------------+-------------+
|  Pais|Continente|        Regiao|minEmissaoCO2|maxEmissaoCO2|
+------+----------+--------------+-------------+-------------+
|Brazil|   América|América do Sul|    2103136.0| 4.60063104E8|
+------+----------+--------------+-------------+-------------+

In [ ]:
#Query 15

# esta query mostra o total das variações de temperatura média na região da América do Norte
# dentro de todo o período analisado - 1900 a 2012
# desta tabela resultante podemos aferir que, quanto mais ao norte se localiza o país, maiores foram as variação de temperatura 
# no período considerado

spark.sql('''
SELECT 
  Pais, 
  Regiao, 
  SUM(DifTempMediaAno) AS totalDifTempMedia
FROM 
  temp_co2
GROUP BY 
  Pais, 
  Regiao
HAVING
  Regiao = 'América do Norte'
ORDER BY 
  totalDifTempMedia DESC
''').show()

+-------------+----------------+------------------+
|         Pais|          Regiao| totalDifTempMedia|
+-------------+----------------+------------------+
|    Greenland|América do Norte|2.3875830620527267|
|       Canada|América do Norte|1.8419166505336764|
|United States|América do Norte|1.2394997378190364|
+-------------+----------------+------------------+