<a href="https://colab.research.google.com/github/LucasBrandaoGomes/Projeto-ETL-Consultas-SQL/blob/main/G5_Cobertura_Florestal_Completo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Instalação do pacote gcsfs para acesso de arquivos direto do GCStorage

In [ ]:
pip install gcsfs

Instalação do pacote Pandera para validação de dados

In [ ]:
pip install pandera

Importação de biblioteca para autenticação da service account e uso dos arquivos do bucket GCP

In [ ]:
import os

Foi criada uma conta de serviço relacionada ao Bucket do CloudStorage bem como uma chave para interação entre as ferramentas. A seguir o arquivo de chave da conta de servico é atribuida a variável serviceAccount.

In [ ]:
serviceAccount ='/content/chave-projeto-g5.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

Importação de bibliotecas a serem utilizadas na etapa de tratamento pandas/pandera.

In [ ]:
import pandas as pd
import pandera as pa
from google.cloud import storage

Leitura do arquivo .xlsx utilizando o URI do arquivo no bucket.

In [ ]:
df = pd.read_excel('gs://projeto-final-bucket-g5/entrada/Forest_extent_characteristics_changes.xlsx', sheet_name="1a_Forest", header = [4])
df

    Unnamed: 0                 Unnamed: 1  ...   10-20.1   15-20.1
0          AGO                     Angola  ... -0.007972 -0.008131
1          BWA                   Botswana  ... -0.007441 -0.007580
2          COM                    Comoros  ... -0.012414 -0.012799
3          DJI                   Djibouti  ...  0.003515  0.007043
4          ERI                    Eritrea  ... -0.002946 -0.002968
..         ...                        ...  ...       ...       ...
250        NaN                       Asia  ...  0.001903  0.002127
251        NaN                     Europe  ...  0.000343  0.000326
252        NaN  North and Central America  ... -0.000196 -0.000461
253        NaN                    Oceania  ...  0.002314  0.000880
254        NaN              South America  ... -0.003025 -0.002913

[255 rows x 37 columns]

In [ ]:
df.dtypes

Unnamed: 0      object
Unnamed: 1      object
Unnamed: 2     float64
Unnamed: 3     float64
Unnamed: 4     float64
2020           float64
Unnamed: 6     float64
2020.1         float64
Unnamed: 8     float64
2020.2         float64
Unnamed: 10    float64
Unnamed: 11    float64
1990           float64
2000           float64
2010           float64
2015           float64
2020.3         float64
90-00          float64
90-10          float64
90-15          float64
90-20          float64
00-10          float64
00-15          float64
00-20          float64
10-15          float64
10-20          float64
15-20          float64
90-00.1        float64
90-10.1        float64
90-15.1        float64
90-20.1        float64
00-10.1        float64
00-15.1        float64
00-20.1        float64
10-15.1        float64
10-20.1        float64
15-20.1        float64
dtype: object

In [ ]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 2020, 'Unnamed: 6', '2020.1', 'Unnamed: 8', '2020.2', 'Unnamed: 10', 'Unnamed: 11'], axis=1, inplace=True)

In [ ]:
df_backup = df.copy()

In [ ]:
df.dtypes

Unnamed: 0     object
Unnamed: 1     object
1990          float64
2000          float64
2010          float64
2015          float64
2020.3        float64
90-00         float64
90-10         float64
90-15         float64
90-20         float64
00-10         float64
00-15         float64
00-20         float64
10-15         float64
10-20         float64
15-20         float64
90-00.1       float64
90-10.1       float64
90-15.1       float64
90-20.1       float64
00-10.1       float64
00-15.1       float64
00-20.1       float64
10-15.1       float64
10-20.1       float64
15-20.1       float64
dtype: object

In [ ]:
(df.rename(columns={'Unnamed: 0': 'Codigo', 'Unnamed: 1': 'Pais', 
                    1990: 'AreaFlorestal_1990(1000ha)', 2000: 'AreaFlorestal_2000(1000ha)',                    
                    2010: 'AreaFlorestal_2010(1000ha)', 2015: 'AreaFlorestal_2015(1000ha)',
                    '2020.3': 'AreaFlorestal_2020(1000ha)', '90-00': 'Variacao_1990-2000',
                    '90-10': 'Variacao_1990-2010', '90-15': 'Variacao_1990-2015',
                    '90-20': 'Variacao_1990-2020', '00-10': 'Variacao_2000-2010',
                    '00-15': 'Variacao_2000-2015', '00-20': 'Variacao_2000-2020', 
                    '10-15': 'Variacao_2010-2015', '10-20': 'Variacao_2010-2020',
                    '15-20': 'Variacao_2015-2020', '90-00.1': 'VarPercentual_1990-2000',
                    '90-10.1': 'VarPercentual_1990-2010', '90-15.1': 'VarPercentual_1990-2015', 
                    '90-20.1': 'VarPercentual_1990-2020', '00-10.1': 'VarPercentual_2000-2010',
                    '00-15.1': 'VarPercentual_2000-2015', '00-20.1': 'VarPercentual_2000-2020',
                    '10-15.1': 'VarPercentual_2010-2015', '10-20.1': 'VarPercentual_2010-2020', 
                    '15-20.1': 'VarPercentual_2015-2020'
                       }
                        , inplace=True))

In [ ]:
df.dtypes

Codigo                         object
Pais                           object
AreaFlorestal_1990(1000ha)    float64
AreaFlorestal_2000(1000ha)    float64
AreaFlorestal_2010(1000ha)    float64
AreaFlorestal_2015(1000ha)    float64
AreaFlorestal_2020(1000ha)    float64
Variacao_1990-2000            float64
Variacao_1990-2010            float64
Variacao_1990-2015            float64
Variacao_1990-2020            float64
Variacao_2000-2010            float64
Variacao_2000-2015            float64
Variacao_2000-2020            float64
Variacao_2010-2015            float64
Variacao_2010-2020            float64
Variacao_2015-2020            float64
VarPercentual_1990-2000       float64
VarPercentual_1990-2010       float64
VarPercentual_1990-2015       float64
VarPercentual_1990-2020       float64
VarPercentual_2000-2010       float64
VarPercentual_2000-2015       float64
VarPercentual_2000-2020       float64
VarPercentual_2010-2015       float64
VarPercentual_2010-2020       float64
VarPercentual_2015-2020       float64
dtype: object

In [ ]:
pd.unique(df['Pais'])

array(['Angola', 'Botswana', 'Comoros', 'Djibouti', 'Eritrea', 'Eswatini',
       'Ethiopia', 'Kenya', 'Lesotho', 'Madagascar', 'Malawi',
       'Mauritius', 'Mayotte', 'Mozambique', 'Namibia', 'Réunion',
       'Seychelles', 'Somalia', 'South Africa', 'Uganda',
       'United Republic of Tanzania', 'Zambia', 'Zimbabwe',
       'Eastern and Southern Africa', 'Algeria', 'Egypt', 'Libya',
       'Mauritania', 'Morocco', 'South Sudan', 'Sudan', 'Tunisia',
       'Western Sahara', 'Northern Africa', 'Benin', 'Burkina Faso',
       'Burundi', 'Cameroon', 'Cabo Verde', 'Central African Republic',
       'Chad', 'Congo', "Côte d'Ivoire",
       'Democratic Republic of the Congo', 'Equatorial Guinea', 'Gabon',
       'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Liberia', 'Mali',
       'Niger', 'Nigeria', 'Rwanda',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Sao Tome and Principe', 'Senegal', 'Sierra Leone', 'Togo',
       'Western and Central Africa', 'China',
       "Democratic People's Republic of Korea", 'Japan', 'Mongolia',
       'Republic of Korea', 'East Asia', 'Bangladesh', 'Bhutan',
       'Brunei Darussalam', 'Cambodia', 'India', 'Indonesia',
       "Lao People's Democratic Republic", 'Malaysia', 'Maldives',
       'Myanmar', 'Nepal', 'Pakistan', 'Philippines', 'Singapore',
       'Sri Lanka', 'Thailand', 'Timor-Leste', 'Viet Nam',
       'South and Southeast Asia', 'Afghanistan', 'Armenia', 'Azerbaijan',
       'Bahrain', 'Cyprus', 'Georgia', 'Iran (Islamic Republic of)',
       'Iraq', 'Israel', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan',
       'Lebanon', 'Palestine', 'Oman', 'Qatar', 'Saudi Arabia',
       'Syrian Arab Republic', 'Tajikistan', 'Turkey', 'Turkmenistan',
       'United Arab Emirates', 'Uzbekistan', 'Yemen',
       'Western and Central Asia', 'Albania', 'Andorra', 'Austria',
       'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria',
       'Croatia', 'Czechia', 'Denmark', 'Estonia', 'Faroe Islands',
       'Finland', 'France', 'Germany', 'Gibraltar', 'Greece', 'Guernsey',
       'Holy See', 'Hungary', 'Iceland', 'Ireland', 'Isle of Man',
       'Italy', 'Jersey', 'Latvia', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Malta', 'Monaco', 'Montenegro', 'Netherlands',
       'North Macedonia', 'Norway', 'Poland', 'Portugal',
       'Republic of Moldova', 'Romania', 'Russian Federation',
       'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain',
       'Svalbard and Jan Mayen Islands', 'Sweden', 'Switzerland',
       'Ukraine', 'United Kingdom', 'Europe', 'Anguilla',
       'Antigua and Barbuda', 'Aruba', 'Bahamas', 'Barbados', 'Bermuda',
       'Bonaire, Sint Eustatius and Saba', 'British Virgin Islands',
       'Cayman Islands', 'Cuba', 'Curaçao', 'Dominica',
       'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica',
       'Martinique', 'Montserrat', 'Puerto Rico', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Martin (French part)',
       'Saint Vincent and the Grenadines', 'Saint Barthélemy',
       'Sint Maarten (Dutch part)', 'Trinidad and Tobago',
       'Turks and Caicos Islands', 'United States Virgin Islands',
       'Caribbean', 'Belize', 'Costa Rica', 'El Salvador', 'Guatemala',
       'Honduras', 'Nicaragua', 'Panama', 'Central America', 'Canada',
       'Greenland', 'Mexico', 'Saint Pierre and Miquelon',
       'United States of America', 'North America', 'American Samoa',
       'Australia', 'Cook Islands', 'Fiji', 'French Polynesia', 'Guam',
       'Kiribati', 'Marshall Islands', 'Micronesia (Federated States of)',
       'Nauru', 'New Caledonia', 'New Zealand', 'Niue', 'Norfolk Island',
       'Northern Mariana Islands', 'Palau', 'Papua New Guinea',
       'Pitcairn Islands', 'Samoa', 'Solomon Islands', 'Tokelau', 'Tonga',
       'Tuvalu', 'Vanuatu', 'Wallis and Futuna Islands', 'Oceania',
       'Argentina', 'Bolivia (plurinational state of)', 'Brazil', 'Chile',
       'Colombia', 'Ecuador', 'Falkland Islands (Malvinas)',
       'French Guiana', 'Guyana', 'Paraguay', 'Peru', 'Suriname',
       'Uruguay', 'Venezuela (Bolivarian Republic of)', 'South America',
       'World', 'Africa', 'Asia', 'North and Central America'],
      dtype=object)

In [ ]:
len(df['Pais'].unique())

252

Excluindo linhas contendo dados sobre regiões e Mundo(total)

In [ ]:
df.drop(df[(df['Pais'] == 'South America')].index, inplace=True)
df.drop(df[(df['Pais'] == 'World')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Africa')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Asia')].index, inplace=True)
df.drop(df[(df['Pais'] == 'North and Central America')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Central America')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Oceania')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Europe')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Western and Central Asia')].index, inplace=True)
df.drop(df[(df['Pais'] == 'South and Southeast Asia')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Western and Central Africa')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Eastern and Southern Africa')].index, inplace=True)

In [ ]:
df.drop(df[(df['Pais'] == 'Northern Africa')].index, inplace=True)
df.drop(df[(df['Pais'] == 'East Asia')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Caribbean')].index, inplace=True)
df.drop(df[(df['Pais'] == 'North America')].index, inplace=True)

Excluindo linhas contendo dados sobre países que não se encontram na lista de países das outras tabelas

In [ ]:
df.drop(df[(df['Pais'] == 'Mayotte')].index, inplace=True)
df.drop(df[(df['Pais'] == 'South Sudan')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Guernsey')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Holy See')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Jersey')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Monaco')].index, inplace=True)
df.drop(df[(df['Pais'] == 'San Marino')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Svalbard and Jan Mayen Islands')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Saint Martin (French part)')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Saint Barthélemy')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Sint Maarten (Dutch part)')].index, inplace=True)
df.drop(df[(df['Pais'] == 'United States Virgin Islands')].index, inplace=True)
df.drop(df[(df['Pais'] == 'American Samoa')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Bonaire, Sint Eustatius and Saba')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Cook Islands')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Guam')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Norfolk Island')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Pitcairn Islands')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Tokelau')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Wallis and Futuna Islands')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Bermuda')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Brunei Darussalam')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Gibraltar')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Maldives')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Marshall Islands')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Nauru')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Saint Helena, Ascension and Tristan da Cunha')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Saint Pierre and Miquelon')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Sint Maarten (Dutch part)')].index, inplace=True)
df.drop(df[(df['Pais'] == 'South Sudan')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Tuvalu')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Vanuatu')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Wallis and Futuna Islands')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Western Sahara')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Northern Mariana Islands')].index, inplace=True)
df.drop(df[(df['Pais'] == 'Isle of Man')].index, inplace=True)

In [ ]:
df.isna().sum()

Codigo                        0
Pais                          0
AreaFlorestal_1990(1000ha)    0
AreaFlorestal_2000(1000ha)    0
AreaFlorestal_2010(1000ha)    0
AreaFlorestal_2015(1000ha)    0
AreaFlorestal_2020(1000ha)    0
Variacao_1990-2000            0
Variacao_1990-2010            0
Variacao_1990-2015            0
Variacao_1990-2020            0
Variacao_2000-2010            0
Variacao_2000-2015            0
Variacao_2000-2020            0
Variacao_2010-2015            0
Variacao_2010-2020            0
Variacao_2015-2020            0
VarPercentual_1990-2000       2
VarPercentual_1990-2010       2
VarPercentual_1990-2015       2
VarPercentual_1990-2020       2
VarPercentual_2000-2010       2
VarPercentual_2000-2015       2
VarPercentual_2000-2020       2
VarPercentual_2010-2015       2
VarPercentual_2010-2020       2
VarPercentual_2015-2020       2
dtype: int64

In [ ]:
#vizualizando os valores NaN
filter = df['VarPercentual_1990-2020'].isna()
df.loc[filter]

    Codigo  ... VarPercentual_2015-2020
102    QAT  ...                     NaN
239    FLK  ...                     NaN

[2 rows x 27 columns]

Alteração de nomes de países para futuramente usar tal coluna para operações utilizando joins.

In [ ]:
df.loc[df['Pais'] == "Réunion" , ["Pais"]] = "Reunion"
df.loc[df['Pais'] == "United Republic of Tanzania" , ["Pais"]] = "Tanzania"
df.loc[df['Pais'] == "Cabo Verde" , ["Pais"]] = "Cape Verde"
df.loc[df['Pais'] == "Falkland Islands (Malvinas)" , ["Pais"]] = "Islas Malvinas"
df.loc[df['Pais'] == "Côte d'Ivoire" , ["Pais"]] = "Cote d'Ivoire"
df.loc[df['Pais'] == "Democratic People's Republic of Korea" , ["Pais"]] = "North Korea"
df.loc[df['Pais'] == "Republic of Korea" , ["Pais"]] = "South Korea"
df.loc[df['Pais'] == "Lao People's Democratic Republic" , ["Pais"]] = "Laos"
df.loc[df['Pais'] == "Cabo Verde" , ["Pais"]] = "Cape Verde"
df.loc[df['Pais'] == "Timor-Leste" , ["Pais"]] = "Timor Leste"
df.loc[df['Pais'] == "Vietnam" , ["Pais"]] = "Cote d'Ivoire"
df.loc[df['Pais'] == "Iran (Islamic Republic of)" , ["Pais"]] = "Iran"
df.loc[df['Pais'] == "Syrian Arab Republic" , ["Pais"]] = "Syria"
df.loc[df['Pais'] == "Czechia" , ["Pais"]] = "Czech Republic"
df.loc[df['Pais'] == "North Macedonia" , ["Pais"]] = "Macedonia"
df.loc[df['Pais'] == "Republic of Moldova" , ["Pais"]] = "Moldova"
df.loc[df['Pais'] == "Russian Federation" , ["Pais"]] = "Russia"
df.loc[df['Pais'] == "Curaçao" , ["Pais"]] = "Curacao"
df.loc[df['Pais'] == "Micronesia (Federated States of)" , ["Pais"]] = "Micronesia"
df.loc[df['Pais'] == "Venezuela (Bolivarian Republic of)" , ["Pais"]] = "Venezuela"
df.loc[df['Pais'] == "Bolivia (plurinational state of)" , ["Pais"]] = "Bolivia"

In [ ]:
#vizualizando os valores zerados de Área florestal
filtro0 = df['AreaFlorestal_1990(1000ha)'] == 0
df.loc[filtro0]

    Codigo            Pais  ...  VarPercentual_2010-2020  VarPercentual_2015-2020
102    QAT           Qatar  ...                      NaN                      NaN
239    FLK  Islas Malvinas  ...                      NaN                      NaN

[2 rows x 27 columns]

Validação com Pandera

In [ ]:
#construção da base de comparação para validação
schema = pa.DataFrameSchema(
    columns = {  
        "Codigo":pa.Column(pa.String,pa.Check.str_length(3,3)),
        "Pais":pa.Column(pa.String),
        "AreaFlorestal_1990(1000ha)":pa.Column(pa.Float, nullable=True),
        "AreaFlorestal_2000(1000ha)":pa.Column(pa.Float, nullable=True),
        "AreaFlorestal_2010(1000ha)":pa.Column(pa.Float, nullable=True),
        "AreaFlorestal_2015(1000ha)":pa.Column(pa.Float, nullable=True),
        "AreaFlorestal_2020(1000ha)":pa.Column(pa.Float, nullable=True),
        "Variacao_1990-2000":pa.Column(pa.Float, nullable=True),
        "Variacao_1990-2010":pa.Column(pa.Float, nullable=True),
        "Variacao_1990-2015":pa.Column(pa.Float, nullable=True),
        "Variacao_1990-2020":pa.Column(pa.Float, nullable=True),
        "Variacao_2000-2010":pa.Column(pa.Float, nullable=True),
        "Variacao_2000-2015":pa.Column(pa.Float, nullable=True),
        "Variacao_2000-2020":pa.Column(pa.Float, nullable=True),
        "Variacao_2010-2015":pa.Column(pa.Float, nullable=True),
        "Variacao_2010-2020":pa.Column(pa.Float, nullable=True),
        "Variacao_2015-2020":pa.Column(pa.Float, nullable=True),
        "VarPercentual_1990-2000":pa.Column(pa.Float, nullable=True),
        "VarPercentual_1990-2010":pa.Column(pa.Float, nullable=True),
        "VarPercentual_1990-2015":pa.Column(pa.Float, nullable=True),
        "VarPercentual_1990-2020":pa.Column(pa.Float, nullable=True),
        "VarPercentual_2000-2010":pa.Column(pa.Float, nullable=True),
        "VarPercentual_2000-2015":pa.Column(pa.Float, nullable=True),
        "VarPercentual_2000-2020":pa.Column(pa.Float, nullable=True),
        "VarPercentual_2010-2015":pa.Column(pa.Float, nullable=True),
        "VarPercentual_2010-2020":pa.Column(pa.Float, nullable=True),
        "VarPercentual_2015-2020":pa.Column(pa.Float, nullable=True)
        }
)

In [ ]:
schema.validate(df)

    Codigo       Pais  ...  VarPercentual_2010-2020  VarPercentual_2015-2020
0      AGO     Angola  ...                -0.007972                -0.008131
1      BWA   Botswana  ...                -0.007441                -0.007580
2      COM    Comoros  ...                -0.012414                -0.012799
3      DJI   Djibouti  ...                 0.003515                 0.007043
4      ERI    Eritrea  ...                -0.002946                -0.002968
..     ...        ...  ...                      ...                      ...
242    PRY   Paraguay  ...                -0.019316                -0.016499
243    PER       Peru  ...                -0.002347                -0.002373
244    SUR   Suriname  ...                -0.000679                -0.000727
245    URY    Uruguay  ...                 0.016094                 0.011304
246    VEN  Venezuela  ...                -0.002715                -0.001944

[203 rows x 27 columns]

Arquivo salvo diretamento para o Bucket (Data Lake) da Google Cloud Storage.

In [ ]:
client=storage.Client()
bucket=client.get_bucket('projeto-final-bucket-g5')
bucket.blob('saida/df_coberturaflorestal_pandas_tratado.csv').upload_from_string(df.to_csv(index=False), 'text/cvs')

Instalação da biblioteca Pyspark

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 39 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 50.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=392b7d003ff8c961f79d4803741c3260e23af8a71d3ce4cf2a5e2c26e5af7f34
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

Importação de módulos e de funções específicas dentro da biblioteca Pyspark

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F 
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, FloatType, DoubleType, DateType 
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col,array_contains
from pyspark.sql.window import Window
from pyspark.sql.functions import when

Configurando a SparkSession

In [ ]:
spark = SparkSession.builder\
        .master("local")\
        .appName("dataframe_coberturaflorestal")\
        .config("spark.ui.port","4050")\
        .getOrCreate()

Criando o Esquema/Schema com a função StructType, usando o dataframe já driado na etapa de transformação com Pandas

In [ ]:
schema = StructType() \
      .add("Codigo", StringType(), False) \
      .add("Pais", StringType(), False) \
      .add("AreaFlorestal_1990(1000ha)", FloatType(), True) \
      .add("AreaFlorestal_2000(1000ha)", FloatType(), True) \
      .add("AreaFlorestal_2010(1000ha)", FloatType(), True) \
      .add("AreaFlorestal_2015(1000ha)", FloatType(), True) \
      .add("AreaFlorestal_2020(1000ha)", FloatType(), True) \
      .add("Variacao_1990-2000", FloatType(), True) \
      .add("Variacao_1990-2010", FloatType(), True) \
      .add("Variacao_1990-2015", FloatType(), True) \
      .add("Variacao_1990-2020", FloatType(), True) \
      .add("Variacao_2000-2010", FloatType(), True) \
      .add("Variacao_2000-2015",FloatType(), True) \
      .add("Variacao_2000-2020", FloatType(), True) \
      .add("Variacao_2010-2015", FloatType(), True) \
      .add("Variacao_2010-2020",FloatType(), True) \
      .add("Variacao_2015-2020", FloatType(), True) \
      .add("VarPercentual_1990-2000", FloatType(), True) \
      .add("VarPercentual_1990-2010",FloatType(), True) \
      .add("VarPercentual_1990-2015", FloatType(), True) \
      .add("VarPercentual_1990-2020", FloatType(), True) \
      .add("VarPercentual_2000-2010",FloatType(), True) \
      .add("VarPercentual_2000-2015", FloatType(), True) \
      .add("VarPercentual_2000-2020", FloatType(), True) \
      .add("VarPercentual_2010-2015",FloatType(), True) \
      .add("VarPercentual_2010-2020", FloatType(), True) \
      .add("VarPercentual_2015-2020", FloatType(), True)    

df_cflorestal_spark = spark.createDataFrame(df, schema=schema)

df_cflorestal_spark.printSchema()

root
 |-- Codigo: string (nullable = false)
 |-- Pais: string (nullable = false)
 |-- AreaFlorestal_1990(1000ha): float (nullable = true)
 |-- AreaFlorestal_2000(1000ha): float (nullable = true)
 |-- AreaFlorestal_2010(1000ha): float (nullable = true)
 |-- AreaFlorestal_2015(1000ha): float (nullable = true)
 |-- AreaFlorestal_2020(1000ha): float (nullable = true)
 |-- Variacao_1990-2000: float (nullable = true)
 |-- Variacao_1990-2010: float (nullable = true)
 |-- Variacao_1990-2015: float (nullable = true)
 |-- Variacao_1990-2020: float (nullable = true)
 |-- Variacao_2000-2010: float (nullable = true)
 |-- Variacao_2000-2015: float (nullable = true)
 |-- Variacao_2000-2020: float (nullable = true)
 |-- Variacao_2010-2015: float (nullable = true)
 |-- Variacao_2010-2020: float (nullable = true)
 |-- Variacao_2015-2020: float (nullable = true)
 |-- VarPercentual_1990-2000: float (nullable = true)
 |-- VarPercentual_1990-2010: float (nullable = true)
 |-- VarPercentual_1990-2015: float (nullable = true)
 |-- VarPercentual_1990-2020: float (nullable = true)
 |-- VarPercentual_2000-2010: float (nullable = true)
 |-- VarPercentual_2000-2015: float (nullable = true)
 |-- VarPercentual_2000-2020: float (nullable = true)
 |-- VarPercentual_2010-2015: float (nullable = true)
 |-- VarPercentual_2010-2020: float (nullable = true)
 |-- VarPercentual_2015-2020: float (nullable = true)

In [ ]:
df_cflorestal_spark.show(5)

+------+--------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+
|Codigo|    Pais|AreaFlorestal_1990(1000ha)|AreaFlorestal_2000(1000ha)|AreaFlorestal_2010(1000ha)|AreaFlorestal_2015(1000ha)|AreaFlorestal_2020(1000ha)|Variacao_1990-2000|Variacao_1990-2010|Variacao_1990-2015|Variacao_1990-2020|Variacao_2000-2010|Variacao_2000-2015|Variacao_2000-2020|Variacao_2010-2015|Variacao_2010-2020|Variacao_2015-2020|VarPercentual_1990-2000|VarPercentual_1990-2010|VarPercentual_1990-2015|VarPercentual_1990-2020|VarPercentual_2000-2010|VarPercentual_2000-2015|VarPercentual_2000-2020|VarPercentual_2010-2015|VarPercentual_2010-2020|VarPercentual_2015-2020|
+------+--------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+
|   AGO|  Angola|                  79262.78|                  77708.61|                   72158.0|                  69382.69|                  66607.38|          -155.417|          -355.239|         -395.2036|        -421.84668|          -555.061|        -555.06134|         -555.0615|          -555.062|          -555.062|          -555.062|          -0.0019783005|          -0.0046845186|           -0.005311096|           -0.005781664|          -0.0073833982|           -0.007526774|           -0.007677907|           -0.007813464|           -0.007972329|           -0.008131168|
|   BWA|Botswana|                   18803.7|                   17620.7|                   16437.7|                   15846.2|                   15254.7|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|           -0.006476865|          -0.0067012548|           -0.006821584|           -0.006947951|          -0.0069255936|            -0.00705133|          -0.0071834098|           -0.007302755|           -0.007441159|          -0.0075795436|
|   COM| Comoros|                     46.06|                     41.68|                      37.3|                     35.11|                     32.92|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|           -0.009942592|           -0.010492148|           -0.010799617|           -0.011133048|           -0.011041398|           -0.011370555|           -0.011727739|           -0.012028539|           -0.012413602|           -0.012798516|
|   DJI|Djibouti|                       5.6|                       5.6|                       5.6|                       5.6|                       5.8|               0.0|               0.0|               0.0|       0.006666667|               0.0|               0.0|              0.01|               0.0|              0.02|              0.04|                    0.0|                    0.0|                    0.0|           0.0011703951|                    0.0|                    0.0|           0.0017561062|                    0.0|           0.0035152961|           0.0070429496|
|   ERI| Eritrea|                   1150.06|                   1118.46|                   1086.86|                   1071.06|                   1055.26|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|          -0.0027822598|           -0.002822076|          -0.0028425644|           -0.002863457|          -0.0028618905|          -0.0028827654|          -0.0029040528|          -0.0029245138|          -0.0029462136|          -0.0029679132|
+------+--------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+
only showing top 5 rows

In [ ]:
df_cflorestal_spark.filter(F.col('Pais') == 'Brazil').show()

+------+------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+
|Codigo|  Pais|AreaFlorestal_1990(1000ha)|AreaFlorestal_2000(1000ha)|AreaFlorestal_2010(1000ha)|AreaFlorestal_2015(1000ha)|AreaFlorestal_2020(1000ha)|Variacao_1990-2000|Variacao_1990-2010|Variacao_1990-2015|Variacao_1990-2020|Variacao_2000-2010|Variacao_2000-2015|Variacao_2000-2020|Variacao_2010-2015|Variacao_2010-2020|Variacao_2015-2020|VarPercentual_1990-2000|VarPercentual_1990-2010|VarPercentual_1990-2015|VarPercentual_1990-2020|VarPercentual_2000-2010|VarPercentual_2000-2015|VarPercentual_2000-2020|VarPercentual_2010-2015|VarPercentual_2010-2020|VarPercentual_2015-2020|
+------+------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+
|   BRA|Brazil|                  588898.0|                  551088.6|                  511580.7|                  503884.8|                  496619.6|          -3780.94|         -3865.865|         -3400.528|        -3075.9468|          -3950.79|          -3146.92|          -2723.45|          -1539.18|          -1496.11|          -1453.04|           -0.006613772|          -0.0070126783|           -0.006216808|           -0.005664849|           -0.007411424|          -0.0059520775|          -0.0051900474|          -0.0030269444|          -0.0029636999|          -0.0029004514|
+------+------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+

In [ ]:
def upload_blob(bucket_name, source_file_name, destination_blob_name):
    """Uploads a file to the bucket."""
    # The ID of your GCS bucket
    # bucket_name = "your-bucket-name"
    # The path to your file to upload
    # source_file_name = "local/path/to/file"
    # The ID of your GCS object
    # destination_blob_name = "storage-object-name"

    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(destination_blob_name)

    blob.upload_from_filename(source_file_name)

    print(
        "File {} uploaded to {}.".format(
            source_file_name, destination_blob_name
        )
    )

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_cflorestal_spark.write.format("csv") \
.option("header", "true") \
.option("inferschema", "true") \
.option("delimiter", ",") \
.save("/content/drive/MyDrive/dados_soulcode/df_cflorestal")

In [ ]:
upload_blob("projeto-final-bucket-g5", "/content/drive/MyDrive/dados_soulcode/df_cflorestal/df_cflorestal_spark_tratado.csv", "saida/df_cflorestal_pyspark_final.csv")

File /content/drive/MyDrive/dados_soulcode/df_cflorestal/df_cflorestal_spark_tratado.csv uploaded to saida/df_cflorestal_pyspark_final.csv.

Definição de listas de países por continente para criação de nova coluna

In [ ]:

africa = ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 
          'Central African Republic', 'Chad', 'Comoros', 'Congo', 'Democratic Republic of the Congo', "Cote d'Ivoire", 
          'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 
          'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 
          'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Reunion', 'Rwanda', 'Sao Tome and Principe', 
          'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'Sudan', 'Tanzania', 'Togo', 
          'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']

america = ['Anguilla', 'Antigua and Barbuda', 'Argentina', 'Aruba', 'Bahamas', 'Barbados', 'Belize', 'Bolivia', 'Brazil', 
           'British Virgin Islands', 'Canada', 'Cayman Islands', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Curacao', 
           'Dominica', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Islas Malvinas', 'French Guiana', 'Greenland', 
           'Grenada', 'Guadeloupe', 'Guatemala', 'Guyana', 'Haiti', 'Honduras', 'Jamaica', 'Martinique', 'Mexico', 
           'Montserrat', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Saint Kitts and Nevis', 'Saint Lucia', 
           'Saint Vincent and the Grenadines', 'Suriname', 'Trinidad and Tobago', 'Turks and Caicos Islands', 
           'United States', 'Uruguay', 'Venezuela']

asia = ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Cambodia', 'China', 
        'Cyprus', 'Georgia', 'Hong Kong', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 
        'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Macao', 'Malaysia', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 
        'Oman', 'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 
        'Syria', 'Taiwan', 'Tajikistan', 'Thailand', 'Timor Leste', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 
        'Uzbekistan', 'Vietnam', 'Yemen']

europa = ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 
          'Czech Republic', 'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'France', 'Germany', 'Greece', 
          'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 
          'Malta', 'Moldova', 'Montenegro', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 
          'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom'] 

oceania = ['Australia', 'Christmas Island', 'Fiji', 'French Polynesia', 'Kiribati', 'Micronesia', 'New Caledonia',
           'New Zealand', 'Niue', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga']

In [ ]:
df_cflorestal_spark2 = (df_cflorestal_spark.withColumn('Continente', when(F.col('Pais').isin(europa), 'Europa')
            .when(F.col('Pais').isin(asia), 'Ásia')
            .when(F.col('Pais').isin(africa), 'África')
            .when(F.col('Pais').isin(america), 'América')
            .when(F.col('Pais').isin(oceania), 'Oceania'))

)

In [ ]:
df_cflorestal_spark2.printSchema()

root
 |-- Codigo: string (nullable = false)
 |-- Pais: string (nullable = false)
 |-- AreaFlorestal_1990(1000ha): float (nullable = true)
 |-- AreaFlorestal_2000(1000ha): float (nullable = true)
 |-- AreaFlorestal_2010(1000ha): float (nullable = true)
 |-- AreaFlorestal_2015(1000ha): float (nullable = true)
 |-- AreaFlorestal_2020(1000ha): float (nullable = true)
 |-- Variacao_1990-2000: float (nullable = true)
 |-- Variacao_1990-2010: float (nullable = true)
 |-- Variacao_1990-2015: float (nullable = true)
 |-- Variacao_1990-2020: float (nullable = true)
 |-- Variacao_2000-2010: float (nullable = true)
 |-- Variacao_2000-2015: float (nullable = true)
 |-- Variacao_2000-2020: float (nullable = true)
 |-- Variacao_2010-2015: float (nullable = true)
 |-- Variacao_2010-2020: float (nullable = true)
 |-- Variacao_2015-2020: float (nullable = true)
 |-- VarPercentual_1990-2000: float (nullable = true)
 |-- VarPercentual_1990-2010: float (nullable = true)
 |-- VarPercentual_1990-2015: float (nullable = true)
 |-- VarPercentual_1990-2020: float (nullable = true)
 |-- VarPercentual_2000-2010: float (nullable = true)
 |-- VarPercentual_2000-2015: float (nullable = true)
 |-- VarPercentual_2000-2020: float (nullable = true)
 |-- VarPercentual_2010-2015: float (nullable = true)
 |-- VarPercentual_2010-2020: float (nullable = true)
 |-- VarPercentual_2015-2020: float (nullable = true)
 |-- Continente: string (nullable = true)

In [ ]:
df_cflorestal_spark2.show(5)

+------+--------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+----------+
|Codigo|    Pais|AreaFlorestal_1990(1000ha)|AreaFlorestal_2000(1000ha)|AreaFlorestal_2010(1000ha)|AreaFlorestal_2015(1000ha)|AreaFlorestal_2020(1000ha)|Variacao_1990-2000|Variacao_1990-2010|Variacao_1990-2015|Variacao_1990-2020|Variacao_2000-2010|Variacao_2000-2015|Variacao_2000-2020|Variacao_2010-2015|Variacao_2010-2020|Variacao_2015-2020|VarPercentual_1990-2000|VarPercentual_1990-2010|VarPercentual_1990-2015|VarPercentual_1990-2020|VarPercentual_2000-2010|VarPercentual_2000-2015|VarPercentual_2000-2020|VarPercentual_2010-2015|VarPercentual_2010-2020|VarPercentual_2015-2020|Continente|
+------+--------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+----------+
|   AGO|  Angola|                  79262.78|                  77708.61|                   72158.0|                  69382.69|                  66607.38|          -155.417|          -355.239|         -395.2036|        -421.84668|          -555.061|        -555.06134|         -555.0615|          -555.062|          -555.062|          -555.062|          -0.0019783005|          -0.0046845186|           -0.005311096|           -0.005781664|          -0.0073833982|           -0.007526774|           -0.007677907|           -0.007813464|           -0.007972329|           -0.008131168|    África|
|   BWA|Botswana|                   18803.7|                   17620.7|                   16437.7|                   15846.2|                   15254.7|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|           -0.006476865|          -0.0067012548|           -0.006821584|           -0.006947951|          -0.0069255936|            -0.00705133|          -0.0071834098|           -0.007302755|           -0.007441159|          -0.0075795436|    África|
|   COM| Comoros|                     46.06|                     41.68|                      37.3|                     35.11|                     32.92|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|           -0.009942592|           -0.010492148|           -0.010799617|           -0.011133048|           -0.011041398|           -0.011370555|           -0.011727739|           -0.012028539|           -0.012413602|           -0.012798516|    África|
|   DJI|Djibouti|                       5.6|                       5.6|                       5.6|                       5.6|                       5.8|               0.0|               0.0|               0.0|       0.006666667|               0.0|               0.0|              0.01|               0.0|              0.02|              0.04|                    0.0|                    0.0|                    0.0|           0.0011703951|                    0.0|                    0.0|           0.0017561062|                    0.0|           0.0035152961|           0.0070429496|    África|
|   ERI| Eritrea|                   1150.06|                   1118.46|                   1086.86|                   1071.06|                   1055.26|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|          -0.0027822598|           -0.002822076|          -0.0028425644|           -0.002863457|          -0.0028618905|          -0.0028827654|          -0.0029040528|          -0.0029245138|          -0.0029462136|          -0.0029679132|    África|
+------+--------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+----------+
only showing top 5 rows

In [ ]:
df_cflorestal_spark2 = df_cflorestal_spark2.select('Continente', 'Pais', 'Codigo', 'AreaFlorestal_1990(1000ha)',\
                                                   'AreaFlorestal_2000(1000ha)', 'AreaFlorestal_2010(1000ha)',\
                                                   'AreaFlorestal_2015(1000ha)', 'AreaFlorestal_2020(1000ha)',\
                                                   'Variacao_1990-2000', 'Variacao_1990-2010', 'Variacao_1990-2015',\
                                                   'Variacao_1990-2020', 'Variacao_2000-2010', 'Variacao_2000-2015', \
                                                   'Variacao_2000-2020', 'Variacao_2010-2015', 'Variacao_2010-2020',\
                                                   'Variacao_2015-2020', 'VarPercentual_1990-2000', 'VarPercentual_1990-2010',\
                                                   'VarPercentual_1990-2015', 'VarPercentual_1990-2020', 'VarPercentual_2000-2010',\
                                                   'VarPercentual_2000-2015', 'VarPercentual_2000-2020', 'VarPercentual_2010-2015',\
                                                   'VarPercentual_2010-2020', 'VarPercentual_2015-2020')

In [ ]:
df_cflorestal_spark2.show(70)

+----------+--------------------+------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+
|Continente|                Pais|Codigo|AreaFlorestal_1990(1000ha)|AreaFlorestal_2000(1000ha)|AreaFlorestal_2010(1000ha)|AreaFlorestal_2015(1000ha)|AreaFlorestal_2020(1000ha)|Variacao_1990-2000|Variacao_1990-2010|Variacao_1990-2015|Variacao_1990-2020|Variacao_2000-2010|Variacao_2000-2015|Variacao_2000-2020|Variacao_2010-2015|Variacao_2010-2020|Variacao_2015-2020|VarPercentual_1990-2000|VarPercentual_1990-2010|VarPercentual_1990-2015|VarPercentual_1990-2020|VarPercentual_2000-2010|VarPercentual_2000-2015|VarPercentual_2000-2020|VarPercentual_2010-2015|VarPercentual_2010-2020|VarPercentual_2015-2020|
+----------+--------------------+------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+
|    África|              Angola|   AGO|                  79262.78|                  77708.61|                   72158.0|                  69382.69|                  66607.38|          -155.417|          -355.239|         -395.2036|        -421.84668|          -555.061|        -555.06134|         -555.0615|          -555.062|          -555.062|          -555.062|          -0.0019783005|          -0.0046845186|           -0.005311096|           -0.005781664|          -0.0073833982|           -0.007526774|           -0.007677907|           -0.007813464|           -0.007972329|           -0.008131168|
|    África|            Botswana|   BWA|                   18803.7|                   17620.7|                   16437.7|                   15846.2|                   15254.7|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|            -118.3|           -0.006476865|          -0.0067012548|           -0.006821584|           -0.006947951|          -0.0069255936|            -0.00705133|          -0.0071834098|           -0.007302755|           -0.007441159|          -0.0075795436|
|    África|             Comoros|   COM|                     46.06|                     41.68|                      37.3|                     35.11|                     32.92|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|            -0.438|           -0.009942592|           -0.010492148|           -0.010799617|           -0.011133048|           -0.011041398|           -0.011370555|           -0.011727739|           -0.012028539|           -0.012413602|           -0.012798516|
|    África|            Djibouti|   DJI|                       5.6|                       5.6|                       5.6|                       5.6|                       5.8|               0.0|               0.0|               0.0|       0.006666667|               0.0|               0.0|              0.01|               0.0|              0.02|              0.04|                    0.0|                    0.0|                    0.0|           0.0011703951|                    0.0|                    0.0|           0.0017561062|                    0.0|           0.0035152961|           0.0070429496|
|    África|             Eritrea|   ERI|                   1150.06|                   1118.46|                   1086.86|                   1071.06|                   1055.26|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|             -3.16|          -0.0027822598|           -0.002822076|          -0.0028425644|           -0.002863457|          -0.0028618905|          -0.0028827654|          -0.0029040528|          -0.0029245138|          -0.0029462136|          -0.0029679132|
|    África|            Eswatini|   SWZ|                    461.14|                    473.28|                    485.43|                     491.5|                    497.56|             1.214|            1.2145|            1.2144|             1.214|             1.215|         1.2146667|             1.214|             1.214|             1.213|             1.212|           0.0026019285|           0.0025699672|           0.0025536653|           0.0025370284|            0.002538007|            0.002521491|             0.00250458|           0.0024884597|           0.0024711539|           0.0024538483|
|    África|            Ethiopia|   ETH|                   19258.5|                   18528.5|                   17798.5|                   17433.5|                   17068.5|             -73.0|             -73.0|             -73.0|             -73.0|             -73.0|             -73.0|             -73.0|             -73.0|             -73.0|             -73.0|          -0.0038567868|          -0.0039341575|          -0.0039744363|          -0.0040158434|          -0.0040115225|           -0.004052861|          -0.0040953625|          -0.0041355332|           -0.004179195|           -0.004222855|
|    África|               Kenya|   KEN|                   3858.54|                   3961.19|                   3616.34|                   3522.41|                   3611.09|            10.265|            -12.11|          -13.4452|         -8.248333|           -34.485|           -29.252|           -17.505|           -18.786|            -0.525|            17.736|            0.002629011|           -0.003236073|          -0.0036391008|          -0.0022068683|           -0.009066848|          -0.0077960566|          -0.0046160542|          -0.0052495827|          -1.4526933E-4|           0.0049852356|
|    África|             Lesotho|   LSO|                     34.52|                     34.52|                     34.52|                     34.52|                     34.52|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|
|    África|          Madagascar|   MDG|                  13693.45|                  13030.67|                  12561.98|                  12495.89|                  12429.81|           -66.278|          -56.5735|          -47.9024|        -42.121334|           -46.869|           -35.652|           -30.043|           -13.218|           -13.217|           -13.216|          -0.0049488945|          -0.0043028574|          -0.0036540208|           -0.003222131|          -0.0036564008|          -0.0027898357|          -0.0023576259|           -0.001054444|           -0.001057158|           -0.001059872|
|    África|              Malawi|   MWI|                    3501.7|                    3081.7|                    2661.7|                    2451.7|                    2241.7|             -42.0|             -42.0|             -42.0|             -42.0|             -42.0|             -42.0|             -42.0|             -42.0|             -42.0|             -42.0|           -0.012695441|           -0.013620567|           -0.014157503|           -0.014757165|           -0.014544825|           -0.015131007|           -0.015786411|           -0.016302327|           -0.017026434|            -0.01775001|
|    África|           Mauritius|   MUS|                     41.07|                     41.93|                     38.39|                      38.3|                     38.77|             0.086|            -0.134|           -0.1108|       -0.07666667|            -0.354|            -0.242|            -0.158|            -0.018|             0.038|             0.094|           0.0020745122|          -0.0033683602|           -0.002789224|          -0.0019191952|           -0.008781669|           -0.006018593|          -0.0039100763|           -4.693124E-4|            9.854595E-4|           0.0024423487|
|    África|          Mozambique|   MOZ|                   43378.0|                   41188.0|                  38972.14|                   37940.0|                  36743.76|            -219.0|          -220.293|           -217.52|        -221.14133|          -221.586|        -216.53334|          -222.212|          -206.428|          -222.838|          -239.248|           -0.005167149|          -0.0053409548|            -0.00534353|           -0.005517522|            -0.00551473|          -0.0054610996|          -0.0056926617|          -0.0053538303|           -0.005870562|          -0.0063870256|
|    África|             Namibia|   NAM|                   8769.17|                  8059.084|                   7348.99|                   6993.95|                    6638.9|          -71.0086|           -71.009|          -71.0088|           -71.009|          -71.0094|        -71.008934|          -71.0092|           -71.008|           -71.009|            -71.01|           -0.008408673|           -0.008795058|           -0.009007058|           -0.009233635|           -0.009181294|           -0.009405781|           -0.009645858|           -0.009854602|           -0.010110205|           -0.010365742|
|    África|             Reunion|   REU|                     87.95|                     90.97|                     93.99|                     96.04|                     98.44|             0.302|             0.302|            0.3236|        0.34966666|             0.302|             0.338|            0.3735|              0.41|             0.445|              0.48|           0.0033818367|           0.0033265168|           0.0035260539|            0.003763021|              0.0032712|           0.0036222104|           0.0039536674|           0.0043245996|            0.004636599|            0.004948695|
|    África|          Seychelles|   SYC|                      33.7|                      33.7|                      33.7|                      33.7|                      33.7|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|
|    África|             Somalia|   SOM|                    8282.5|                    7515.0|                    6747.5|                   6363.75|                    5980.0|            -76.75|            -76.75|            -76.75|            -76.75|            -76.75|            -76.75|            -76.75|            -76.75|            -76.75|            -76.75|           -0.009677255|           -0.010196301|           -0.010485719|           -0.010798747|           -0.010715076|           -0.011024328|           -0.011359016|           -0.011642543|           -0.012002538|           -0.012362402|
|    África|        South Africa|   ZAF|                  18142.09|                  17778.09|                  17414.09|                  17232.09|                  17050.09|             -36.4|             -36.4|             -36.4|             -36.4|             -36.4|             -36.4|             -36.4|             -36.4|             -36.4|             -36.4|          -0.0020247328|           -0.002045655|          -0.0020563353|          -0.0020671661|          -0.0020665769|           -0.002077403|          -0.0020883821|          -0.0020990549|           -0.002110187|           -0.002121319|
|    África|              Uganda|   UGA|                   3575.47|                   3162.95|                   2750.42|                   2544.16|                    2337.9|           -41.252|          -41.2525|          -41.2524|        -41.252335|           -41.253|        -41.252666|          -41.2525|           -41.252|           -41.252|           -41.252|           -0.012184313|           -0.013031496|           -0.013519621|            -0.01406165|           -0.013877952|           -0.014408825|            -0.01499898|           -0.015469713|           -0.016118733|           -0.016767327|
|    África|            Tanzania|   TZA|                  57390.01|                  53670.01|                  49950.01|                   48090.0|                   45745.0|            -372.0|            -372.0|         -372.0004|          -388.167|            -372.0|        -372.00067|         -396.2505|          -372.002|          -420.501|            -469.0|           -0.006679182|          -0.0069183344|          -0.0070468932|          -0.0075310897|          -0.0071574296|           -0.007291958|            -0.00795677|           -0.007560961|           -0.008755467|           -0.009948535|
|    África|              Zambia|   ZMB|                   47412.0|                   47054.0|                   46696.0|                   45755.1|                  44814.03|             -35.8|             -35.8|           -66.276|           -86.599|             -35.8|         -86.59333|         -111.9985|           -188.18|          -188.197|          -188.214|           -7.576611E-4|           -7.605533E-4|          -0.0014218722|          -0.0018767068|          -7.6344545E-4|          -0.0018644342|          -0.0024357596|           -0.004062774|           -0.004105275|           -0.004147774|
|    África|            Zimbabwe|   ZWE|                  18826.68|                  18365.98|                  17905.28|                  17674.93|                  17444.58|            -46.07|            -46.07|            -46.07|            -46.07|            -46.07|            -46.07|            -46.07|            -46.07|            -46.07|            -46.07|          -0.0024744307|          -0.0025058237|          -0.0025219251|          -0.0025383069|          -0.0025372156|          -0.0025535866|          -0.0025702433|          -0.0025863277|          -0.0026032699|          -0.0026202118|
|    África|             Algeria|   DZA|                    1667.0|                    1579.0|                    1918.0|                    1956.0|                    1949.0|              -8.8|             12.55|             11.56|               9.4|              33.9|         25.133333|              18.5|               7.6|               3.1|              -1.4|          -0.0054087066|            0.007037516|           0.0064155306|           0.0052232877|             0.01963949|            0.014376349|             0.01058183|            0.003931427|           0.0016046305|           -7.167732E-4|
|    África|               Egypt|   EGY|                     43.81|                     59.21|                     65.64|                     48.42|                     44.98|              1.54|            1.0915|            0.1844|             0.039|             0.643|       -0.71933335|           -0.7115|            -3.444|            -2.066|            -0.688|            0.030581117|            0.020421889|            0.004010053|            8.789142E-4|            0.010362808|           -0.013322295|           -0.013649613|           -0.059039827|           -0.037091352|           -0.014630914|
|    África|               Libya|   LBY|                     217.0|                     217.0|                     217.0|                     217.0|                     217.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|                    0.0|
|    África|          Mauritania|   MRT|                    476.04|                    421.64|                    367.24|                    340.04|                     312.8|             -5.44|             -5.44|             -5.44|        -5.4413333|             -5.44|             -5.44|            -5.442|             -5.44|            -5.444|            -5.448|          -0.0120616695|           -0.012890511|           -0.013367397|           -0.013900414|           -0.013718658|           -0.014236923|           -0.014818503|           -0.015272638|            -0.01591712|            -0.01656118|
|    África|             Morocco|   MAR|                   5485.29|                   5506.54|                   5674.57|                   5684.69|                   5742.49|             2.125|             9.464|             7.976|          8.573334|            16.803|         11.876667|           11.7975|             2.024|             6.792|             11.56|           3.8672605E-4|           0.0016976807|           0.0014292857|           0.0015285988|           0.0030103533|            0.002124929|            0.002100024|           3.5642483E-4|           0.0011905206|           0.0020253118|
|    África|               Sudan|   SDN|                  23570.31|                  21826.16|                  20081.17|                  19209.93|                  18359.55|          -174.415|          -174.457|         -174.4152|          -173.692|          -174.499|        -174.41533|         -173.3305|          -174.248|          -172.162|          -170.076|          -0.0076583857|           -0.007978269|           -0.008149036|           -0.008293352|           -0.008298049|           -0.008476002|           -0.008610683|           -0.008831814|           -0.008923219|           -0.009014614|
|    África|             Tunisia|   TUN|                  643.9769|                    667.85|                    687.43|                    695.08|                    702.73|           2.38731|          2.172655|          2.044124|         1.9584366|             1.958|         1.8153334|             1.744|              1.53|              1.53|              1.53|           0.0036467072|            0.003270193|           0.0030592335|           0.0029145689|             0.00289382|           0.0026677754|              0.0025487|           0.0022158395|            0.002203699|           0.0021915585|
|    África|               Benin|   BEN|                   4835.15|                   4135.15|                   3635.15|                   3385.15|                   3135.15|             -70.0|             -60.0|             -58.0|        -56.666668|             -50.0|             -50.0|             -50.0|             -50.0|             -50.0|             -50.0|           -0.015517203|           -0.014161853|           -0.014159357|           -0.014337397|           -0.012804637|           -0.013253086|           -0.013746965|           -0.014149374|           -0.014688393|           -0.015227117|

In [ ]:
def upload_blob(bucket_name, source_file_name, destination_blob_name):
    """Uploads a file to the bucket."""
    # The ID of your GCS bucket
    # bucket_name = "your-bucket-name"
    # The path to your file to upload
    # source_file_name = "local/path/to/file"
    # The ID of your GCS object
    # destination_blob_name = "storage-object-name"

    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(destination_blob_name)

    blob.upload_from_filename(source_file_name)

    print(
        "File {} uploaded to {}.".format(
            source_file_name, destination_blob_name
        )
    )

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df_cflorestal_spark2.write.format("csv") \
.option("header", "true") \
.option("inferschema", "true") \
.option("delimiter", ",") \
.save("/content/drive/MyDrive/DF_cobertura_florestal_pipeline")

In [ ]:
upload_blob("projeto-final-bucket-g5", "/content/drive/MyDrive/DF_cobertura_florestal_pipeline/df_cobertura_florestal_pipeline.csv.csv", "saida/df_cobertura_florestal_pipeline.csv")

File /content/drive/MyDrive/DF_cobertura_florestal_pipeline/df_cobertura_florestal_pipeline.csv.csv uploaded to saida/df_cobertura_florestal_pipeline.csv.